{% extends '../layout/_layout-dashboard.twig' %} {% block title %} Create Event
- EventKlip {% endblock %} {% block javascripts %} {% endblock %} {% block
contents %}
<main class="dashboard--main">
  <!-- BreadCrumb -->
  <div class="topbar">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Create an Event
        </li>
      </ol>
    </nav>
  </div>

  <!-- Event Form -->
  <div class="start-event">
    <form action="">
      <div class="cover-img">
        <div class="preview">
          <img id="show" src="../img/preview.png" alt="" />
        </div>
        <label for="cover"><i class="bi bi-image"></i> Add Cover</label>
        <input type="file" id="cover" />
      </div>

      <div class="prof-img">
        <div class="preview">
          <img id="show2" src="../img/preview-pic.png" alt="" />
        </div>
        <label for="profile"><i class="bi bi-image"></i> Add Profile</label>
        <input type="file" id="profile" />
      </div>

      <div class="inputs">
        <div class="form-item">
          <input type="text" class="form-control" id="event-name" />
          <label for="event-name">Event Name</label>
        </div>

        <div class="form-item">
          <select class="form-control form-select" name="" id="event-type">
            <option value=""></option>
            <option value="wedding">Wedding</option>
            <option value="divorce">Divorce</option>
            <option value="aniversary">Aniversary</option>
          </select>
          <label for="event-type">Event Type</label>
        </div>

        <div class="form-item form-inline">
          <div class="from">
            <input class="form-control" type="date" placeholder="From" />
          </div>
          <div class="to">
            <input class="form-control" type="date" placeholder="To" />
          </div>
          <label for="" class="no-trans">Event Date</label>
        </div>

        <div class="form-item">
          <select class="form-control form-select" name="" id="age-limit">
            <option value=""></option>
            <option value="none">None</option>
            <option value="13+">13+</option>
            <option value="16+">16+</option>
            <option value="18+">18+</option>
          </select>
          <label for="age-limit">Age Limit</label>
        </div>

        <div class="form-item">
          <input type="text" class="form-control" id="event-location" />
          <label for="event-location">Event Location</label>
        </div>

        <div class="form-item">
          <input type="text" class="form-control" id="contact" />
          <label for="contact">Contact</label>
        </div>

        <div class="form-item">
          <textarea
            type="text"
            class="form-control"
            id="event-description"
          ></textarea>
          <label for="event-description">Event Description</label>
        </div>

        <div class="form-item select-item">
          <select
            class="form-control form-select"
            name=""
            id="event-attendance"
          >
            <option value=""></option>
            <option value="below 100">below 100</option>
            <option value="100 to 200">100 to 200</option>
            <option value="200 to 500">200 to 500</option>
            <option value="200 to 800">200 to 800</option>
            <option value="800 to 1000">800 to 1000</option>
            <option value="1000 to 2000">1000 to 2000</option>
          </select>
          <label for="event-attendance">Number of Attendance</label>
        </div>

        <div class="form-item select-item">
          <select class="form-control form-select" name="" id="event-limit">
            <option value=""></option>
            <option value="200 Clicks">200 Clicks</option>
            <option value="500 Clicks">500 Clicks</option>
            <option value="1000 Clicks">1000 Clicks</option>
            <option value="Unlimited">Unlimited</option>
          </select>
          <label for="event-limit">Multimedia Limitsper User</label>
        </div>

        <div class="next">
          <a href="./review" class="btn btn-main">Next</a>
        </div>
      </div>
    </form>
  </div>
</main>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script>
  function readURL(input, a) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $(a).attr("src", e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $(document).ready(function () {
    $("#cover").change(function () {
      readURL(this, "#show");
    });
    $("#profile").change(function () {
      readURL(this, "#show2");
    });
  });

  //CHeck input emptiness
  let inputs = document.querySelectorAll(".inputs .form-item .form-control");
  inputs.forEach((a) => {
    a.addEventListener("change", () => {
      if (a.value.length == 0 || a.value == "") {
        a.classList.remove("filled");
      } else {
        a.classList.add("filled");
      }
    });
  });
</script>

{% endblock %}
