{% extends '../layout/_layout-dashboard.twig' %} {% block title %} Sam & Sammy
Wedding - EventKlip {% endblock %} {% block javascripts %} {% endblock %} {%
block contents %}
<main class="dashboard--main">
  <!-- BreadCrumb -->
  <div class="topbar">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Sam & Sammy Wedding
        </li>
      </ol>
    </nav>
  </div>

  <!-- Event Detail -->
  <section class="contents single-content">
    <div class="event-row">
      <div class="event-info">
        <div class="hero-image">
          <img src="../img/prev1.jpg" alt="" />
        </div>

        <div class="event-meta">
          <div class="topper">
            <div class="code">
              <span>Event Access Code</span>
              <span class="the-code"
                ><input type="text" value="Sam2021E" readonly
              /></span>
            </div>
            <div
              class="copy-code"
              onclick="copyClipboard()"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Copy Code"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13.401"
                  height="15.517"
                  viewBox="0 0 13.401 15.517"
                >
                  <path
                    id="Icon_material-content-copy"
                    data-name="Icon material-content-copy"
                    d="M11.874,1H3.411A1.415,1.415,0,0,0,2,2.411v9.874H3.411V2.411h8.464ZM13.99,3.821H6.232A1.415,1.415,0,0,0,4.821,5.232v9.874a1.415,1.415,0,0,0,1.411,1.411H13.99A1.415,1.415,0,0,0,15.4,15.106V5.232A1.415,1.415,0,0,0,13.99,3.821Zm0,11.285H6.232V5.232H13.99Z"
                    transform="translate(-2 -1)"
                    fill="#333"
                    opacity="0.5"
                  />
                </svg>
              </span>
              <span class="copied">Copy</span>
            </div>
          </div>
          <div class="lower">
            <div class="title">
              <h3>Event QR Code</h3>
            </div>
            <div class="actions">
              <div class="qr">
                <img src="../img/qr.png" alt="" />
              </div>
              <div class="download">
                <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="11.997"
                    height="14.567"
                    viewBox="0 0 11.997 14.567"
                  >
                    <path
                      id="Icon_metro-file-download"
                      data-name="Icon metro-file-download"
                      d="M17.995,9.426H14.567V4.285H9.426V9.426H6l6,6ZM6,17.138v1.714h12V17.138H6Z"
                      transform="translate(-5.998 -4.285)"
                      fill="#333"
                      opacity="0.5"
                    />
                  </svg>
                </span>
                <span><a href="../img/qr.png" download=""> Download </a></span>
              </div>
              <div class="share">
                <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18.004"
                    height="14.999"
                    viewBox="0 0 18.004 14.999"
                  >
                    <path
                      id="Icon_ionic-ios-share-alt"
                      data-name="Icon ionic-ios-share-alt"
                      d="M20.845,10.8,14.231,4.613a.338.338,0,0,0-.262-.113c-.206.009-.469.155-.469.375v3.1a.2.2,0,0,1-.169.192C6.755,9.178,3.984,14.1,3,19.209c-.037.2.234.389.361.23A11.954,11.954,0,0,1,13.3,14.4a.232.232,0,0,1,.2.225v3.047a.4.4,0,0,0,.68.248l6.661-6.3A.518.518,0,0,0,21,11.236.628.628,0,0,0,20.845,10.8Z"
                      transform="translate(-3.001 -4.5)"
                      fill="#333"
                      opacity="0.5"
                    />
                  </svg>
                </span>
                <span>Share</span>
              </div>
            </div>
            <div class="info">
              <p>
                This QR Code takes to a landing page which includes EventKlip
                Download button and your Event’s Access Code.
                <strong>Do not forget to download it.</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="the-descriptions">
          <p>Hello <strong>Username</strong></p>
          <p>
            Welcome to Sam’s & Sammy’s Wedding. Enjoy the event. Start clicking
            pictures and videos of the event.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc sed
            velit dignissim sodales ut eu sem integer. Maecenas pharetra
            convallis posuere morbi leo urna molestie at elementum. Neque
            aliquam vestibulum morbi blandit cursus risus at ultrices mi.
            Dictumst quisque sagittis purus sit amet volutpat. Diam volutpat
            commodo sed egestas egestas fringilla phasellus faucibus
            scelerisque. Non blandit massa enim nec dui nunc mattis enim ut. In
            hac habitasse platea dictumst. Ut tellus elementum sagittis vitae et
            leo. Non arcu risus quis varius quam. Sed velit dignissim sodales
            ut. Ultricies mi eget mauris pharetra et ultrices. Enim diam
            vulputate ut pharetra sit amet aliquam id diam. Orci phasellus
            egestas tellus rutrum tellus pellentesque eu. Aliquam nulla facilisi
            cras fermentum odio eu. Nisl nunc mi ipsum faucibus. Posuere urna
            nec tincidunt praesent semper feugiat nibh sed. Lorem sed risus
            ultricies tristique nulla aliquet enim tortor at. Vel risus commodo
            viverra maecenas accumsan lacus vel facilisis volutpat. Sed
            ullamcorper morbi tincidunt ornare.
          </p>
          <p>
            Bibendum neque egestas congue quisque egestas diam in arcu cursus.
            Vitae justo eget magna fermentum iaculis eu non diam phasellus.
            Velit egestas dui id ornare arcu odio ut sem. Gravida dictum fusce
            ut placerat. Massa tempor nec feugiat nisl pretium fusce. Leo in
            vitae turpis massa sed. Praesent semper feugiat nibh sed pulvinar
            proin gravida. Massa id neque aliquam vestibulum. Sit amet nisl
            purus in. Senectus et netus et malesuada fames ac. Placerat duis
            ultricies lacus sed.
          </p>
          <p>
            Libero id faucibus nisl tincidunt eget. Facilisis mauris sit amet
            massa vitae tortor condimentum lacinia quis. Aliquam faucibus purus
            in massa tempor nec feugiat nisl pretium. Mi tempus imperdiet nulla
            malesuada. Lectus urna duis convallis convallis. In metus vulputate
            eu scelerisque felis imperdiet proin. Et netus et malesuada fames ac
            turpis egestas maecenas pharetra. Sed enim ut sem viverra aliquet
            eget sit. Volutpat sed cras ornare arcu dui vivamus arcu felis.
            Sociis natoque penatibus et magnis dis parturient montes. Ac felis
            donec et odio pellentesque. Amet luctus venenatis lectus magna. Id
            velit ut tortor pretium viverra. Sit amet consectetur adipiscing
            elit pellentesque habitant morbi. Convallis convallis tellus id
            interdum velit laoreet id. Est placerat in egestas erat imperdiet
            sed. Lorem dolor sed viverra ipsum nunc. Vitae turpis massa sed
            elementum tempus egestas sed sed risus. Tortor consequat id porta
            nibh venenatis.
          </p>
          <p>
            Massa ultricies mi quis hendrerit dolor magna eget est lorem.
            Habitant morbi tristique senectus et netus et malesuada fames ac.
            Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Eu
            mi bibendum neque egestas congue quisque egestas diam in. Sodales
            neque sodales ut etiam sit amet. Enim nunc faucibus a pellentesque
            sit amet. Condimentum lacinia quis vel eros donec. Cras fermentum
            odio eu feugiat pretium nibh ipsum consequat. Sit amet nulla
            facilisi morbi tempus iaculis urna id. Fames ac turpis egestas
            integer eget aliquet nibh praesent tristique. Nam at lectus urna
            duis convallis convallis tellus id. Morbi enim nunc faucibus a. Leo
            duis ut diam quam nulla porttitor massa id. Ac turpis egestas
            maecenas pharetra convallis posuere morbi leo. Aliquam sem fringilla
            ut morbi tincidunt augue.
          </p>
          <p>
            Nullam non nisi est sit amet facilisis. Eu scelerisque felis
            imperdiet proin fermentum leo. Diam ut venenatis tellus in metus
            vulputate eu scelerisque felis. Sit amet consectetur adipiscing
            elit. Ornare massa eget egestas purus viverra accumsan in nisl. Nisi
            scelerisque eu ultrices vitae auctor eu augue. Quam vulputate
            dignissim suspendisse in est. In metus vulputate eu scelerisque
            felis imperdiet proin fermentum leo. Arcu dictum varius duis at
            consectetur lorem. Leo urna molestie at elementum eu facilisis sed.
            Quisque non tellus orci ac auctor augue mauris augue. Eget nulla
            facilisi etiam dignissim diam quis. Vulputate sapien nec sagittis
            aliquam malesuada bibendum arcu vitae elementum. Blandit turpis
            cursus in hac habitasse. Ut aliquam purus sit amet luctus venenatis
            lectus. Sed vulputate mi sit amet mauris commodo quis. Nec nam
            aliquam sem et tortor consequat id.
          </p>
          <p>Enjoy!</p>
        </div>
      </div>

      <div class="event-actions">
        <div class="title">
          <h4>Event By</h4>
        </div>
        <div class="prev">
          <img
            src="https://cdn.pixabay.com/photo/2014/11/13/17/04/heart-529607__340.jpg"
            alt=""
          />
        </div>
        <a href="./gallery" class="btn btn-main"
          ><i class="bi bi-images"></i> Gallery</a
        >
        <a href="#" class="btn btn-main">Enter</a>
      </div>
    </div>
  </section>
</main>

<script>
  //Copy to clipboard
  function copyClipboard() {
    /* Get the text field */
    var copyText = document.querySelector(".the-code input");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Change copy */
    document.querySelector(".copied").innerHTML = "Copied";
  }
</script>

{% endblock %}
