{% extends '../layout/_layout-dashboard.twig' %} {% block title %} EventKlip -
Homepage {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}
<main class="dashboard--main">ola dash</div>

{% endblock %}
