{% extends '../layout/_layout-dashboard.twig' %} {% block title %} EventKlip -
Dashboard {% endblock %} {% block javascripts %} {% endblock %} {% block
contents %}
<main class="dashboard--main">
  <!-- BreadCrumb -->
  <div class="topbar">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  </div>

  <!-- YOur Events -->
  <section class="contents">
    <!--Counters-->
    <div class="counters">
      <div class="count-row">
        <div class="card count-card">
          <div class="title">
            <h3>Total Events</h3>
          </div>
          <div class="count">
            <span>1400</span>
          </div>
        </div>
        <div class="card count-card">
          <div class="title">
            <h3>Events Completed</h3>
          </div>
          <div class="count">
            <span>845</span>
          </div>
        </div>
        <div class="card count-card">
          <div class="title">
            <h3>Events Running</h3>
          </div>
          <div class="count">
            <span>540</span>
          </div>
        </div>
        <div class="card count-card">
          <div class="title">
            <h3>Canceled Events</h3>
          </div>
          <div class="count">
            <span>50</span>
          </div>
        </div>
      </div>
    </div>
    <!--My Events-->
    <div class="the-title">
      <span>Your Events</span>
      <a href="#!" class="all">See All</a>
    </div>
    <div class="events">
      <div class="events-row">
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev1.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev2.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev3.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev1.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev2.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev3.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
      </div>
    </div>

    <!--My Participation-->
    <div class="the-title">
      <span>Your Participants</span>
      <a href="#!" class="all">See All</a>
    </div>
    <div class="events">
      <div class="events-row">
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev1.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev2.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev3.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev1.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev2.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
        <div class="card the-event">
          <a href="./event">
            <div class="preview-img">
              <img src="../img/prev3.jpg" alt="" />
            </div>
            <div class="title">
              <h4>Sam & Sammy Wedding</h4>
            </div>
            <div class="date-time">
              <ul>
                <li>18 March</li>
                <li>Wed</li>
                <li>4 PM</li>
              </ul>
            </div></a
          >
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
