{% extends '../layout/_layout-dashboard.twig' %} {% block title %} EventKlip -
Dashboard {% endblock %} {% block javascripts %} {% endblock %} {% block
contents %}
<main class="dashboard--main">
  <!-- BreadCrumb -->
  <div class="topbar">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  </div>

  <!-- YOur Events -->
  <section class="contents">
    <div class="events-row">
      <div class="card the-event">
        <a href="./event">
          <div class="preview-img">
            <img
              src="https://cdn.pixabay.com/photo/2016/09/04/07/40/couple-1643452__340.jpg"
              alt=""
            />
          </div>
          <div class="title">
            <h4>Sam & Sammy Wedding</h4>
          </div>
          <div class="date-time">
            <ul>
              <li>18 March</li>
              <li>Wed</li>
              <li>4 PM</li>
            </ul>
          </div></a
        >
      </div>
    </div>
  </section>
</main>

{% endblock %}
