{% extends '../layout/_layout-dashboard.twig' %} {% block title %} Create Event
- EventKlip {% endblock %} {% block javascripts %} {% endblock %} {% block
contents %}
<main class="dashboard--main">
  <!-- BreadCrumb -->
  <div class="topbar">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Review Event</li>
      </ol>
    </nav>
  </div>

  <!-- Event Form -->
  <div class="start-event review-event">
    <div class="cover-img">
      <div class="preview">
        <img
          id="show"
          src="https://cdn.pixabay.com/photo/2015/02/14/02/18/marriage-636018_1280.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="prof-img">
      <div class="preview">
        <img
          id="show2"
          src="https://cdn.pixabay.com/photo/2014/11/13/17/04/heart-529607__340.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="previews">
      <div class="title">
        <h4>Event Details</h4>
      </div>
      <div class="preview-table">
        <table>
          <tbody>
            <tr>
              <td>Event Name</td>
              <td>Sam & Sammy Wedding</td>
            </tr>
            <tr>
              <td>Event Type</td>
              <td>Wedding</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>08-04-2021</td>
            </tr>
            <tr>
              <td>Age Limit</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Location</td>
              <td>Wales</td>
            </tr>
            <tr>
              <td>Contact</td>
              <td>09 000 000</td>
            </tr>
            <tr>
              <td>Event Description</td>
              <td>
                <p>A day filled with joy and love dedicated to Sam and Sammy</p>
              </td>
            </tr>
            <tr>
              <td>No. of Attendances</td>
              <td>200 to 500</td>
            </tr>
            <tr>
              <td>Multimedia Limit</td>
              <td>100 Clicks</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="notice">
        <span>If the info are correct , go ahead and publish</span>
      </div>
      <div class="next">
        <a href="./success" class="btn btn-main">Publish</a>
      </div>
    </div>
  </div>
</main>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script>
  function readURL(input, a) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $(a).attr("src", e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $(document).ready(function () {
    $("#cover").change(function () {
      readURL(this, "#show");
    });
    $("#profile").change(function () {
      readURL(this, "#show2");
    });
  });

  //CHeck input emptiness
  let inputs = document.querySelectorAll(".inputs .form-item .form-control");
  inputs.forEach((a) => {
    a.addEventListener("change", () => {
      if (a.value.length == 0 || a.value == "") {
        a.classList.remove("filled");
      } else {
        a.classList.add("filled");
      }
    });
  });
</script>

{% endblock %}
