//Dropdown
.btn-dropdown {
  border: 0;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

//Badge
.badge {
  padding: 0.2em 0.4em;
}

.badge-main {
  background-color: var(--secondary-color);
  color: var(--white);
}

//SUP
.sup {
  position: relative;
  top: -1.4em;
  left: -0.8em;
  font-size: 0.6em;
}

//Box shadow dropdown
.dropdown-menu {
  box-shadow: 0 1rem 3rem #0000002d;
}

//Main Button Dash
.btn-main {
  background-color: var(--primary-color);
  font-weight: $font-semibold;
  color: var(--white);
}

//Contents
.contents {
  padding: 1em;
}

//Card Modify
.card {
  background-color: var(--primary-light);
  border-radius: 8px;
  border: 0;
  margin-bottom: 1%;
}

//Breadcrumb
.topbar {
  padding: 0.5em;
  background-color: var(--primary-color);
  font-size: 1em;
  ol.breadcrumb {
    margin: 0;
    .breadcrumb-item {
      font-size: 0.9em;
      a {
        color: var(--white);
        text-decoration: none;
        font-size: 0.9em;
      }
      &.active {
        color: var(--light-grey);
      }
      &:before {
        color: var(--white);
      }
    }
  }
}

//HIde Player Watermark
div#html5lightbox-watermark {
  display: none !important;
}

//Form Select
.form-select {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--black-50);
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
