.start-event {
  margin: 1em;
  @include ek-card;
  .cover-img {
    position: relative;
    .preview {
      max-height: 240px;
      overflow: hidden;
      background-color: var(--light-grey);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    label {
      position: absolute;
      background-color: var(--black-50);
      padding: 1em;
      color: var(--white);
      right: 0;
      bottom: 0;
      border-top-left-radius: 8px;
      cursor: pointer;
      @include md {
        font-size: 0.8em;
        padding: 0.4em;
      }
    }
    input {
      display: none;
    }
  }

  .prof-img {
    margin-top: -100px;
    width: 200px;
    position: relative;
    margin-left: 1em;
    @include md {
      width: 100px;
      margin-top: -50px;
    }
    .preview {
      max-height: 200px;
      height: 200px;
      overflow: hidden;
      background-color: var(--light-grey);
      @include md {
        height: 100px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    label {
      position: absolute;
      background-color: var(--black-50);
      padding: 0.5em;
      text-align: center;
      color: var(--white);
      right: 0;
      bottom: 0;
      height: 20%;
      width: 100%;
      cursor: pointer;
      @include md {
        font-size: 0.8em;
        padding: 0.1em;
      }
    }
    input {
      display: none;
    }
  }

  .inputs {
    padding: 1em;
    @include flexer(flex-start, flex-start);
    flex-wrap: wrap;
    gap: 1em;
    .form-item {
      width: calc((100% / 2) - 1em);
      @include sm {
        width: 100%;
      }
      input,
      select,
      textarea {
        padding: 0.75em 0;
        &:focus,
        &.filled {
          + label {
            top: -5%;
            font-size: 0.6em;
          }
        }
      }
      select {
        cursor: pointer;
        &:after {
          position: absolute;
          content: "";
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      label {
        position: absolute;
        left: 0;
        top: 26%;
        transition: 0.3s;
        &.no-trans {
          top: -5%;
          font-size: 0.6em;
        }
      }
      &.form-inline {
        @include flexer(space-between, center);
        flex-wrap: wrap;
        .from {
          width: 49%;
          @include sm {
            width: 100%;
          }
        }
        .to {
          width: 49%;
          @include sm {
            width: 100%;
          }
        }
      }
    }
    .next {
      width: 100%;
      margin-top: 1em;
    }
  }
}
