.single-content {
  padding: 0 1em;
  .hero-image {
    position: sticky;
    top: 72px;
    z-index: 9;
    height: 240px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .prof {
      margin-top: -80px;
      text-align: center;
      img {
        display: inline-block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
      }
    }
  }

  .event-row {
    @include flexer(center, flex-start);
    @include lg {
      flex-wrap: wrap;
    }
    .event-info {
      .event-name {
        margin: 1em;
        text-align: center;
        h2 {
          font-weight: $font-semibold;
          font-size: 1.3em;
          color: var(--secondary-color);
        }
      }
      .cons {
        margin: 1em;
        display: flex;
        justify-content: space-between;
      }
      .accordion {
        button {
          &:focus {
            outline: none;
            box-shadow: none;
          }
          &:not(.collapsed) {
            color: var(--secondary-color);
          }
        }
      }
      padding-top: 100px;
      width: 70%;
      @include ek-card;
      @include xl {
        width: 68%;
      }
      @include lg {
        width: 100%;
      }

      .event-meta {
        margin: 1em;
        padding: 2em;
        border-radius: 8px;
        background-color: var(--primary-light);
        color: var(--light-text);
        .topper {
          padding: 1em;
          border: 1px dotted var(--secondary-color);
          border-radius: 8px;
          @include flexer(space-between, center);
          @include sm {
            flex-wrap: wrap;
          }
          .code {
            @include sm {
              width: 100%;
              margin-bottom: 1em;
            }
            span {
              &:first-child {
                margin-right: 2em;
              }
            }
            span.the-code {
              font-weight: $font-semibold;
            }
          }
          .the-code {
            @include sm {
              width: 100%;
              text-align: center;
            }
            input {
              padding: 0;
              background: transparent;
              border: 0;
              &:focus {
                outline: 0;
              }
            }
          }
          .copy-code {
            span {
              cursor: pointer;
            }
          }
        }
        .lower {
          margin-top: 2em;
          .title {
            h3 {
              font-size: 1em;
            }
          }
          .actions {
            @include flexer(space-between, flex-end);
            @include sm {
              flex-wrap: wrap;
            }
            .qr {
              @include sm {
                width: 100%;
                margin-bottom: 1em;
                text-align: center;
              }
            }
            .download {
              span {
                a {
                  color: var(--light-text);
                  text-decoration: none;
                }
              }
            }
          }
        }
        .info {
          margin-top: 2em;
        }
      }
      .the-gallery {
        .title {
          padding: 1em;
          display: flex;
          justify-content: space-between;
          span {
            font-size: 1em;
            &:first-child {
              font-size: 1.2em;
              font-weight: $font-semibold;
            }
            a {
              color: var(--primary-color);
              text-decoration: none;
            }
          }
        }
        .gal-row {
          display: flex;
          margin-right: -1em;
          gap: 1em;
          @include lg {
            overflow-x: auto;
            scrollbar-width: thin;
            &::-webkit-scrollbar {
              height: 4px;
            }
          }
          img {
            display: inline-block;
            width: calc((100% / 4) - 1em);
            @include lg {
              width: 140px;
            }
          }
        }
      }
      .the-descriptions {
        margin: 2em;
        .title {
          text-align: center;
          span {
            font-size: 1.2em;
            font-weight: $font-semibold;
          }
          p {
            font: 0.8em;
          }
        }
      }
    }
  }
}
