.gallery-contents {
  padding: 1em;
  @include ek-card;
  .gallery-tabs {
    border: 0;
    li {
      button {
        border: 0;
        border-radius: 4px;
        &.active {
          background-color: var(--primary-color);
          color: var(--white);
        }
      }
    }
  }
  .gallery-content {
    .pack {
      margin: 1em 0;
      .date-title {
        margin-bottom: 1em;
        h3 {
          font-size: 1em;
          font-weight: 400;
        }
      }
      .gal-rows {
        @include flexer(flex-start, flex-start);
        gap: 1em;
        flex-wrap: wrap;
        .item {
          width: calc((100% / 4) - 1em);
          height: 210px;
          border-radius: 8px;
          overflow: hidden;
          @include lg {
            width: calc((100% / 3) - 1em);
          }
          @include md {
            width: calc((100% / 2) - 1em);
            height: 170px;
          }
          @include sm {
            width: 100%;
          }
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
          &.type-video {
            position: relative;
            i {
              position: absolute;
              top: 5%;
              right: 5%;
              color: var(--white);
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }
}
