.dashboard--main {
  background-color: #f6f6f6;
  min-height: calc(100vh - 16px);
  margin-left: 260px;
  @include lg {
    margin-left: 220px;
  }
  @include md {
    width: 100%;
    margin-left: 0;
  }

  .contents {
    .main-title {
      h3 {
        font-size: 1.4em;
        font-weight: $font-medium;
      }
    }
    .events-row {
      @include flexer(flex-start, flex-start);
      flex-wrap: wrap;
      gap: 1%;
      .card {
        width: calc((100% / 3) - 1%);
        flex-direction: row;
        overflow: hidden;
        @include sm {
          margin-bottom: 1em;
        }
      }
      .the-event {
        flex-direction: column;
        a {
          text-decoration: none;
          color: var(--black);
        }
        @include sm {
          width: 100%;
        }
        .preview-img {
          height: 140px;
          @include sm {
            height: 240px;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .title {
          margin: 1em 1em 0 1em;
          h4 {
            font-size: 1em;
          }
        }
        .date-time {
          margin: 0 1em 1em 1em;
          ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              padding: 0 1em;
              position: relative;
              font-size: 0.9em;
              color: var(--light-text);
              &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                width: 2px;
                height: 60%;
                transform: translateY(-50%);
                background-color: var(--light-text);
              }
              &:first-child {
                padding-left: 0;
              }
              &:last-child {
                padding-right: 0;
                &:after {
                  content: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
