.dashboard--main {
  background-color: #f6f6f6;
  min-height: calc(100vh - 16px);
  margin-left: 260px;
  @include lg {
    margin-left: 220px;
  }
  @include md {
    width: 100%;
    margin-left: 0;
  }

  .contents {
    .main-title {
      h3 {
        font-size: 1.4em;
        font-weight: $font-medium;
      }
    }
    .counters {
      margin-bottom: 1em;
      @include md {
        overflow-x: auto;
        &::-webkit-scrollbar {
          height: 2px;
        }
        scrollbar-width: thin;
      }
      .count-row {
        display: flex;
        gap: 1em;
        @include md {
          width: 1024px;
          overflow-x: auto;
        }
        .count-card {
          width: calc((100% / 5) - 1em);
          padding: 2em;
          align-items: center;
          justify-content: center;
          background-color: var(--white);
          flex: 1;
          .title {
            h3 {
              font-size: 0.9em;
              text-align: center;
              font-weight: $font-light;
            }
          }
          .count {
            padding: 1em 0;
            position: relative;
            cursor: pointer;
            text-align: center;
            span {
              font-size: 1em;
              font-weight: $font-semibold;
              color: var(--primary-color);
              @include lg {
                font-size: 1.4em;
              }
            }
            &:after {
              position: absolute;
              content: "";
              width: 3em;
              height: 3em;
              border-radius: 50%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: var(--primary-light);
              transition: 0.3s ease;
            }
            &:hover {
              &:after {
                width: 6em;
                height: 6em;
              }
            }
          }
        }
      }
    }
    .the-title {
      width: calc(100% - 1em);
      margin: 1em 0;
      @include flexer(space-between, center);
      span {
        font-size: 1.2em;
        font-weight: $font-semibold;
      }
    }
    .events {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 4px;
      }
      scrollbar-width: thin;
      .events-row {
        display: flex;
        width: calc((297px * 6) + (0.8em * 6));
        gap: 0.2em;
        .card {
          overflow: hidden;
          @include sm {
            margin-bottom: 1em;
          }
        }
        .the-event {
          display: inline-block;
          width: 297px;
          margin-right: 0.8em;
          &:last-child {
            margin-right: 0;
          }
          a {
            text-decoration: none;
            color: var(--black);
          }
          @include sm {
            width: 100%;
          }
          .preview-img {
            height: 200px;
            @include sm {
              height: 240px;
            }
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .title {
            margin: 1em 1em 0 1em;
            h4 {
              font-size: 1em;
            }
          }
          .date-time {
            margin: 0 1em 1em 1em;
            ul {
              display: flex;
              list-style: none;
              padding: 0;
              margin: 0;
              li {
                padding: 0 1em;
                position: relative;
                font-size: 0.9em;
                color: var(--light-text);
                &:after {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 50%;
                  width: 2px;
                  height: 60%;
                  transform: translateY(-50%);
                  background-color: var(--light-text);
                }
                &:first-child {
                  padding-left: 0;
                }
                &:last-child {
                  padding-right: 0;
                  &:after {
                    content: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
