.success-row {
  margin: 1em;
  @include flexer(flex-start, flex-start);
  flex-wrap: wrap;
  grid-template: 1em;
  .card {
    width: calc((100% / 2) - 1em);
  }
  .success-card {
    flex-direction: row;
    padding: 1em;
    justify-content: center;
    width: 100%;
    @include sm {
      flex-wrap: wrap;
    }
    .desc {
      margin: 0 1em;
      @include sm {
        text-align: center;
      }
      h3 {
        font-size: 1.2em;
      }
      p {
        font-size: 1em;
        color: var(--light-text);
      }
    }
  }
  .event-meta {
    @include lg {
      width: 100%;
    }
    padding: 1em;
    color: var(--light-text);
    .topper {
      @include flexer(space-between, center);
      @include sm {
        flex-wrap: wrap;
      }
      .code {
        @include sm {
          width: 100%;
          margin-bottom: 1em;
        }
        span {
          &:first-child {
            margin-right: 2em;
          }
        }
        span.the-code {
          font-weight: $font-semibold;
        }
      }
      .the-code {
        @include sm {
          width: 100%;
          text-align: center;
        }
        input {
          padding: 0;
          background: transparent;
          border: 0;
          &:focus {
            outline: 0;
          }
        }
      }
      .copy-code {
        span {
          cursor: pointer;
        }
      }
    }
    .lower {
      margin-top: 2em;
      .title {
        h3 {
          font-size: 1em;
        }
      }
      .actions {
        @include flexer(space-between, flex-end);
        @include xsm {
          flex-wrap: wrap;
        }
        .qr {
          @include xsm {
            width: 100%;
            margin-bottom: 1em;
            text-align: center;
          }
        }
        .download {
          span {
            a {
              color: var(--light-text);
              text-decoration: none;
            }
          }
        }
      }
    }
    .info {
      margin-top: 2em;
    }
  }
}
