.dashboard--header {
  padding: 1em 2em;
  position: sticky;
  top: 0;
  background-color: var(--white);
  box-shadow: 0px -4px 6px #000;
  z-index: 2;
  @include md {
    padding: 1em;
  }
  .header--row {
    @include flexer(space-between, center);
    .logo {
      @include md {
        @include flexer(flex-start, center);
      }
      .mob-nav {
        display: none;
        margin-right: 1em;
        @include md {
          display: flex;
          align-items: center;
        }
        .nav-icon {
          margin: auto;
          transform: rotate(0deg);
          transition: 0.5s ease-in-out;
          cursor: pointer;
          span {
            width: 30px;
            display: block;
            height: 3px;
            background: var(--black);
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
            margin-bottom: 0.4em;
            &:last-child {
              margin-bottom: 0;
            }
            @include xsm {
              width: 20px;
              height: 3px;
              margin-bottom: 0.2em;
            }
          }
          &.show {
            span {
              &:nth-child(1) {
                transform: rotate(-50deg);
                width: 26px;
                @include sm {
                  width: 18px;
                }
              }
              &:nth-child(2) {
                width: 24px;
                margin-left: 10px;
              }
              &:nth-child(3) {
                transform: rotate(50deg);
                width: 26px;
                @include sm {
                  width: 18px;
                }
              }
            }
          }
        }
      }
      img {
        max-width: 140px;
        @include md {
          max-width: 100px;
        }
        @include xsm {
          display: none;
        }
      }
    }
    .user--actions {
      @include flexer(space-between, center);
      @include md {
        font-size: 0.9em;
      }
      .date--box {
        margin-right: 1em;
        background-color: var(--primary-light);
        padding: 6px 8px;
        border-radius: 8px;
        @include flexer(space-between, center);
        @include sm {
          display: none;
        }
        .icon {
          margin-right: 0.5em;
        }
        .date {
          display: flex;
          flex-wrap: wrap;
          font-size: 1em;
          .lf {
            padding-right: 10px;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              height: 60%;
              width: 1px;
              background-color: var(--black);
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
          .rt {
            padding-left: 10px;
          }
        }
      }
      .create--event {
        .date {
          a {
            font-size: 1em;
            color: var(--black);
            text-decoration: none;
          }
        }
      }
      .notification {
        margin-right: 0.5em;
        @include sm {
          margin-right: 0;
        }
        i {
          font-size: 1.2em;
        }
        .notify-dropdown {
          .notifications {
            max-height: 300px;
            overflow-y: auto;
            scrollbar-width: thin;
            ::-webkit-scrollbar {
              width: 8px;
            }
            ::-webkit-scrollbar-track {
              background-color: #f4f4f4;
            }
            ::-webkit-scrollbar-thumb {
              background: #707070;
              border-radius: 4px;
            }
            .notif-item {
              @include flexer(space-between, flex-start);
              padding: 0.5em;
              min-width: 240px;
              .img {
                width: 50px;
                img {
                  width: 100%;
                }
              }
              .info {
                flex-grow: 2;
                margin-left: 0.5em;
                .title {
                  font-size: 1em;
                  font-weight: $font-semibold;
                }
                small {
                  font-size: 0.7em;
                }
              }
            }
          }
          .notify-footer {
            text-align: center;
            padding-top: 0.5em;
            border-top: 1px solid var(--bs-light);
            a {
              color: var(--primary-color);
              text-decoration: none;
              font-size: 0.8em;
              i {
                font-size: 0.8em;
              }
            }
          }
        }
      }
      .user--drop {
        button {
          @include flexer(space-between, center);
          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            @include xsm {
              width: 20px;
              height: 20px;
            }
          }
          span {
            margin: 0 0.5em;
          }
        }
        .user-dropdown {
          li {
            transition: 0.3s;
            &:last-child {
              a {
                color: var(--bs-red);
              }
            }
          }
        }
      }
    }
  }
}
