{% extends 'layout/_layout.twig' %} {% block title %} EventKlip - Homepage {%
endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<!-- Banner -->
<section class="banner">
  <div class="wrapper">
    <div class="banner__row">
      <div class="left__banner">
        <div class="content">
          <h2>
            Create & Plan <br />
            your Events
          </h2>
          <p>
            With just few steps, you can create an event <br />
            and start inviting people.
          </p>
          <a
            href="./"
            data-bs-toggle="modal"
            data-bs-target="#signupModal"
            class="btn"
            >Sign Up</a
          >
        </div>
      </div>
      <div class="right__banner">
        <img src="./img/banner-illus.png" alt="" />
      </div>
    </div>
  </div>
  <div class="float banner">
    <img src="./img/circles.png" alt="" />
  </div>
  <div class="float banner-flower">
    <img src="./img/flower.png" alt="" />
  </div>
</section>

<!-- Info Section -->
<section class="infos">
  <div class="wrapper">
    <div class="info__row">
      <div class="lf">
        <div class="image">
          <img src="./img/info1.png" alt="" />
        </div>
      </div>
      <div class="rt">
        <div class="info">
          <div class="head">
            <span
              >Participate in Multiple<br />
              Event</span
            >
            <p>
              Invited? Just Scan a QR Code and Wallah!<br />
              You enter the event.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="info__row">
      <div class="lf">
        <div class="image">
          <img src="./img/info2.png" alt="" />
        </div>
      </div>
      <div class="rt">
        <div class="info">
          <div class="head">
            <span>Scan - Enter - Click</span>
            <p>
              Just like that ! What are you<br />
              waiting for?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float top-fw">
    <img src="./img/flower.png" alt="" />
  </div>
  <div class="float top-circ">
    <img src="./img/circles.png" alt="" />
  </div>
  <div class="float mid-twg">
    <img src="./img/twig.png" alt="" />
  </div>
  <div class="float bot-circ">
    <img src="./img/circles.png" alt="" />
  </div>
  <div class="float bot-fw">
    <img src="./img/flower1.png" alt="" />
  </div>
</section>

<!-- Download -->
<section class="download">
  <div class="wrapper">
    <div class="download__row">
      <div class="lf">
        <div class="down__img">
          <img src="./img/downloads.png" alt="" />
        </div>
      </div>
      <div class="rt">
        <div class="down__inst">
          <div class="top">
            <div class="head"><span>Download Now</span></div>
            <p>
              Something in your phone is more personalized<br />
              and more personal.
            </p>
            <span> Klip it.</span>
          </div>
          <div class="bot">
            <div class="bot__row">
              <a
                href="https://play.google.com/store/apps/details?id=com.app.eventklip"
                target="_blank"
                class="download"
              >
                <div class="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="43.458"
                    height="48.209"
                    viewBox="0 0 43.458 48.209"
                  >
                    <path
                      id="Icon_awesome-google-play"
                      data-name="Icon awesome-google-play"
                      d="M30.032,22.065,9.247,1.224,35.692,16.405l-5.66,5.66ZM3.823,0A3.661,3.661,0,0,0,1.779,3.324v41.56a3.661,3.661,0,0,0,2.044,3.324L27.988,24.1ZM43.866,21.246l-5.547-3.211-6.187,6.074,6.187,6.074,5.66-3.211a3.778,3.778,0,0,0-.113-5.726ZM9.247,46.994,35.692,31.813l-5.66-5.66Z"
                      transform="translate(-1.779)"
                      fill="#fff"
                    />
                  </svg>
                </div>
                <div class="labels">
                  <small>Get It On</small>
                  <strong>Google Play</strong>
                </div>
              </a>
              <a
                href="https://apps.apple.com/us/app/eventklip/id1554633927"
                target="_blank"
                class="download"
              >
                <div class="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="47.555"
                    height="56.591"
                    viewBox="0 0 47.555 56.591"
                  >
                    <path
                      id="Icon_awesome-apple"
                      data-name="Icon awesome-apple"
                      d="M40.041,32.155c-.025-4.637,2.072-8.136,6.317-10.714-2.375-3.4-5.963-5.268-10.7-5.635-4.485-.354-9.387,2.615-11.181,2.615-1.9,0-6.241-2.489-9.652-2.489C7.773,16.046.281,21.555.281,32.761A31.489,31.489,0,0,0,2.1,43.02c1.617,4.637,7.454,16.007,13.544,15.818,3.184-.076,5.433-2.262,9.577-2.262,4.018,0,6.1,2.262,9.652,2.262,6.14-.088,11.421-10.423,12.963-15.072C39.6,39.887,40.041,32.395,40.041,32.155ZM32.89,11.41a11.9,11.9,0,0,0,3.032-9.16,13.4,13.4,0,0,0-8.579,4.409,12.086,12.086,0,0,0-3.234,9.084c3.3.253,6.3-1.44,8.781-4.333Z"
                      transform="translate(-0.281 -2.25)"
                      fill="#fff"
                    />
                  </svg>
                </div>
                <div class="labels">
                  <small>Download On</small>
                  <strong>App Store</strong>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Quick Download -->
<section class="quick">
  <div class="wrapper">
    <div class="quick__row">
      <div class="lf">
        <div class="quick__inst">
          <div class="head"><span>Want it Quick?</span></div>
          <p>Scan the QR code and download the app.</p>
          <span> It’s quick. Real quick.</span>
        </div>
      </div>
      <div class="rt">
        <div class="qr">
          <img src="./img/qr.png" alt="" />
          <span>Scan Here</span>
        </div>
        <div class="to">
          <img src="./img/go.png" alt="" />
        </div>
        <div class="view">
          <img src="./img/view.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
