<header class="dashboard--header">
  <div class="header--row">
    <div class="logo">
      <a href="./"><img src="../img/logo.png" alt="" /></a>
    </div>
    <div class="user--actions">
      <div class="notification">
        <div class="dropdown">
          <button
            class="dropdown-toggle"
            type="button"
            id="notify"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-bell"></i><sup>5</sup>
          </button>
          <ul class="dropdown-menu" aria-labelledby="notify">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
