<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../img/fav.png" type="image/x-icon" />
    <meta name="theme-color" content="#fff" />
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="../css/intlTelInput.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/main.css"
    />
    {% block stylesheets %}{% endblock %} {# {% block javascripts %}{% endblock
    %} #}
  </head>
  <body>
    {% include "_header-dashboard.twig" %}{% block contents %}{% endblock %}

    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/intlTelInput.min.js"></script>
    <script type="text/javascript" src="../js/dashboard.js"></script>
  </body>
</html>
