<aside>
  <div class="user--info">
    <img
      src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083386_1280.jpg"
      alt=""
    />
    <span class="user__name">Sophie Jackson</span>
  </div>
</aside>
