<aside>
  <div class="user--info">
    <img
      src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083386_1280.jpg"
      alt=""
    />
    <span class="user__name">Sophie Jackson</span>
  </div>
  <div class="sidebar--nav">
    <div class="menu-item active">
      <a href="./dashboard">
        <i class="bi bi-house"></i>
        <span>Dashboard</span>
      </a>
    </div>
    <div class="menu-item">
      <a href="./dashboard">
        <i class="bi bi-calendar-event"></i>
        <span>Event</span>
      </a>
    </div>
    <div class="menu-item">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <i class="bi bi-calendar-event"></i>
              <span>Event</span>
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <ul class="sub-menu">
                <li><a href="#!">Sub Menu 1</a></li>
                <li><a href="#!">Sub Menu 2</a></li>
                <li><a href="#!">Sub Menu 3</a></li>
                <li><a href="#!">Sub Menu 4</a></li>
                <li><a href="#!">Sub Menu 5</a></li>
                <li><a href="#!">Sub Menu 6</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              <i class="bi bi-calendar-event"></i>
              <span>Event</span>
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <ul class="sub-menu">
                <li><a href="#!">Sub Menu 1</a></li>
                <li><a href="#!">Sub Menu 2</a></li>
                <li><a href="#!">Sub Menu 3</a></li>
                <li><a href="#!">Sub Menu 4</a></li>
                <li><a href="#!">Sub Menu 5</a></li>
                <li><a href="#!">Sub Menu 6</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
